@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

body {
    font-family: "Nunito", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1172px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 768px){
        width: 100%;
    }
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

header {
    .header-desktop{
        @media (max-width: 768px){
            display: none;
        }
    }
    .header-mobile{
        display: none;
        padding: 10px 20px;
        @media (max-width: 768px){
            display: block;
        }

        .header-top{
            margin-bottom: 20px;
            .container{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;

                .cart {
                    a {
                        position: relative;
                        span {
                            position: absolute;
                            top: -6px;
                            right: -8px;
                            display: block;
                            width: 14px;
                            height: 14px;
                            text-align: center;
                            line-height: 14px;
                            background: #f8475f;
                            color: #fff;
                            font-size: 10px;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }

        .header-bottom{
            .busca {
                width: 100%;
                margin: 0 auto;
                border-bottom: 1px solid #000;
                form {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    input {
                        width: 85%;
                        border: 0;
                        color: #333333;
                        padding-bottom: 5px;
                    }
                    button {
                        border: 0;
                        background: transparent;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 11px 0;

        .menu {
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                li {
                    margin: 0 15px;
                    a {
                        color: #333333;
                        font-size: 13px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        span {
                            padding-right: 10px;
                        }
                        &:hover {
                            color: #f8475f;
                        }
                    }
                }
            }
        }

        .busca {
            width: 280px;
            border-bottom: 1px solid #000;
            form {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                input {
                    width: 85%;
                    border: 0;
                    color: #333333;
                    padding-bottom: 5px;
                }
                button {
                    border: 0;
                    background: transparent;
                    cursor: pointer;
                }
            }
        }

        .my-account {
            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                svg {
                    margin-right: 10px;
                }
                span {
                    color: #333333;
                }
            }
        }

        .cart {
            a {
                position: relative;
                span {
                    position: absolute;
                    top: -6px;
                    right: -8px;
                    display: block;
                    width: 14px;
                    height: 14px;
                    text-align: center;
                    line-height: 14px;
                    background: #f8475f;
                    color: #fff;
                    font-size: 10px;
                    border-radius: 100%;
                }
            }
        }
    }
}

.main-banner {
    @media (max-width: 768px){
        display: none;
    }
    li {
        a {
            img {
                display: block;
                width: 100%;
            }
        }
    }
    .slick-prev {
        z-index: 1000;
        left: 20px;
        &:before {
            content: "";
        }
    }
    .slick-next {
        z-index: 1000;
        right: 20px;
        &:before {
            content: "";
        }
    }
    .slick-dots {
        bottom: 18px;
        li {
            width: auto;
            height: auto;
            margin: 0 6px;
            &.slick-active {
                button {
                    background: #f8475f;
                }
            }
            button {
                display: block;
                width: 10px;
                height: 10px;
                background: #bdbdbd;
                border-radius: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.main-banner-mobile{
    display: none;
    @media (max-width: 768px){
        display: block;
    }
    li {
        a {
            img {
                display: block;
                width: 100%;
            }
        }
    }
    .slick-next, .slick-prev{
        display: none !important;
    }
    .slick-dots {
        bottom: 18px;
        li {
            width: auto;
            height: auto;
            margin: 0 6px;
            &.slick-active {
                button {
                    background: #f8475f;
                }
            }
            button {
                display: block;
                width: 10px;
                height: 10px;
                background: #bdbdbd;
                border-radius: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.products {
    h2 {
        font-size: 20px;
        color: #000;
        font-weight: 900;
        margin-bottom: 20px;
        &:after {
            display: block;
            content: "";
            width: 65px;
            height: 4px;
            background: #e9bf33;
            margin-top: 10px;
        }
    }
    ul {
        @media (max-width: 768px){
            width: 80%;
            margin: 0 auto;
        }

        .slick-prev {
            z-index: 1000;
            left: -30px;
            &:before {
                content: "";
            }
        }
        .slick-next {
            z-index: 1000;
            right: -30px;
            &:before {
                content: "";
            }
        }
        li {
            width: 216px;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            border-radius: 5px;
            margin: 0 5px 10px 5px;
            padding-bottom: 10px;
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
            .flag {
                position: absolute;
                top: 0;
                right: 0;
            }
            img {
                display: block;
                width: 100%;
            }
            h3 {
                display: block;
                padding: 10px 0 5px 0;
                text-align: center;
                font-size: 12px;
                font-weight: 600;
            }
            .ratign {
                margin-bottom: 5px;
                svg {
                    display: block;
                    margin: 0 auto;
                }
            }
            .price {
                margin-bottom: 10px;
                span {
                    display: block;
                    text-align: center;
                    &.price_de {
                        font-size: 12px;
                        font-weight: 400;
                    }
                    &.price_por {
                        font-size: 18px;
                        font-weight: 700;
                    }
                    &.installments {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
            .buy {
                svg {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

.newsletter {
    background: #f2f2f2;
    padding: 24px 0 36px 0;
    margin-top: 60px;

    h4 {
        color: #333333;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;

        @media (max-width: 768px){
            text-align: left;
            padding-left: 3px;
        }
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px){
            flex-direction: column;
        }
        input {
            background: #fff;
            padding: 0 0 0 15px;
            width: 280px;
            height: 48px;
            border: 0;
            color: #585858;
            margin: 0 4px;

            @media (max-width: 768px){
                width: 98%;
                margin: 0 0 10px 0;
                border-radius: 5px;
            }
        }
        button {
            width: 140px;
            height: 48px;
            background: #e9bf33;
            color: #fff;
            text-align: center;
            line-height: 48px;
            font-size: 14px;
            font-weight: 900;
            border: 0;
            padding: 0;
            cursor: pointer;

            @media (max-width: 768px){
                width: 98%;
                border-radius: 5px;
            }
        }
    }
}

footer {
    background: #000;
    padding: 25px 0;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px){
            flex-direction: column;
        }

        .location {
            @media (max-width: 768px){
                width: 100%;
            }
            h4 {
                font-size: 20px;
                color: #fff;
                font-weight: 700;
                margin-bottom: 20px;
                &:after {
                    display: block;
                    content: "";
                    width: 65px;
                    height: 4px;
                    background: #e9bf33;
                    margin-top: 10px;
                }
            }
            p {
                display: block;
                color: #fff;
                font-size: 13px;
                font-weight: 400;
                margin-bottom: 10px;
            }
        }
        .contact {
            display: flex;
            flex-direction: column;

            @media (max-width: 768px){
                width: 100%;
                padding: 50px 0 30px 0;
            }

            a {
                display: block;
                margin: 12.5px 0;
                svg{
                    @media (max-width: 768px){
                        display: block;
                        width: 198px;
                        margin: 0 auto;
                    }
                }
            }
        }

        .powered {
            display: flex;
            flex-direction: row;
            align-items: center;

            @media (max-width: 768px){
                width: 100%;
            }

            a {
                display: block;
                margin-left: 25px;
                @media (max-width: 768px){
                    margin-left: 0;
                    width: 50%;
                }
                svg{
                    @media (max-width: 768px){
                        display: block;
                        height: 32px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
