@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

body{
    font-family: 'Nunito', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1172px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

header{
 .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 11px 0;
    h1{
        a{
            img{
                display: block;
                width: 135px;
            }
        }
    }

    .menu{
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            li{
                margin: 0 15px;
                a{
                    color: #333333;
                    font-size: 13px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    span{
                        padding-right: 10px;
                    }
                    &:hover{
                        color: #F8475F;
                    }
                }
            }
        }
    }

    .busca{
        width: 280px;
        border-bottom: 1px solid #000;
        form{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            input{
                width: 85%;
                border: 0;
                color: #333333;
                padding-bottom: 5px;
            }
            button{
                border: 0;
                background: transparent;
                cursor: pointer;
            }
        }
    }

    .my-account{
        a{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            svg{
                margin-right: 10px;
            }
            span{
                color: #333333;
            }
        }
    }

    .cart{
        a{
            position: relative;
            span{
                position: absolute;
                top: -6px;
                right: -8px;
                display: block;
                width: 14px;
                height: 14px;
                text-align: center;
                line-height: 14px;
                background: #F8475F;
                color: #FFF;
                font-size: 10px;
                border-radius: 100%;
            }
        }
    }
 }   
}

.main-banner{
    li{
        a{
            img{
                display: block;
                width: 100%;
            }
        }
    }
    .slick-prev{
        z-index: 1000;
        left: 20px;
        &:before{
            content: '';
        }
    }
    .slick-next{
        z-index: 1000;
        right: 20px;
        &:before{
            content: '';
        }
    }
    .slick-dots{
        bottom: 18px;
        li{
            width: auto;
            height: auto;
            margin: 0 6px;
            &.slick-active{
                button{
                    background: #F8475F;
                }
            }
            button{
                display: block;
                width: 10px;
                height: 10px;
                background: #BDBDBD;
                border-radius: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}